.week-weather {
  width: 300px;
  padding: 20px 30px;

  border-radius: 28px;
  background-color: var(--card-background);
  line-height: 1.1;
  transition: var(--transition-short);

  h2 {
    font-size: 18px;
  }

  @include sm() {
    width: 100%;
  }
}

.week-weather:hover {
  cursor: pointer;
  background-color: var(--on-surface-variant);
}

.week-item {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  align-items: center;

  margin-bottom: 10px;
  
  p {
    font-size: 14px;
  }
}